:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-white:  white;
  --color-one: rgba(166, 225, 250);
  --color-two: rgba(14, 107, 168);
  --color-three:rgba(10, 36, 114);
  --color-three-he-fo:rgba(10, 36, 114, 0.705);
  --color-four:rgba(0, 28, 85);
  --color-five:rgba(0, 7, 45);
  --color-black:  black;

}
*{
  list-style: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:var(--color-two);
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
 justify-content: center;
 gap: 40px;
}